* {
  padding: 0vw;
  margin: 0vw;
  /* box-sizing: border-box; */
}
 body {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
    
 }
 #card {
  border-radius: 2vh;
  height: 300px;
  width: 200px;
  background-color: white;
  padding: 1vw;
  text-align: center;
  margin: 2vw;
 }

.img1 {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw;
  background-image: url(/images.webp);
  background-size: cover;
 }

.img2 {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw;
  background-image: url(/download.webp);
  background-size: cover;
 }

 h1 {
  text-align: center;
  font-style:italic;
 }

.add {
  background-color: cadetblue;
  color: #fff;
  font-weight: 700;
  padding: 10px 22px;
  border-radius: 50px;
  border: none;   
}

.remove {
  background-color: rgb(156, 163, 163);
  color: #fff;
  font-weight: 700;
  padding: 10px 22px;
  border-radius: 50px;
  border: none;   
  margin: -10px 5px;
}


#add-rmv {
  display: flex;
  justify-content: center;
  align-items: center;
}
h5 {
  color: red;
  margin: 5px;

}
 